body {
	# margin:10px 10px 0px 10px;
	padding:0;
	margin: 0;
}


body,th,td,p,div,span,a,input,select,textarea,ul,ol,dl,h1,h2,h3,h4,h5,h6,li,big,small,blockquote{font-family:verdana,arial,helvetica,sans-serif}
body,th,td,p,div,span,a,ul,ol,dl,li,select,input,textarea,blockquote{font-size:11px}
body,th,td,p{color:#000}
code,kbd,tt,pre,code a,kbd a,tt a,pre a,code span,kbd span,tt span,pre span{font-family:courier,"courier new";font-size:12px}
code,kbd,tt,pre,code span,kbd span,tt span,pre span{color:#000}


h1 {font-size: 155%;  font-weight: normal; padding: 0px; margin: 0px; margin-bottom: 15px; font-family:"Trebuchet MS",verdana,arial,helvetica,sans-serif}
h2 {font-size: 130%;  font-weight: normal; padding-bottom: 10px; text-decoration : underline}
h3 {font-size: 100%;}

img{border: 0px}
img {vertical-align:middle;}

a{text-decoration:none}
a:visited{color:#000}
a:link,a.named:visited {color:#000}
a {cursor: pointer;}
a:hover {text-decoration:underline}

hr {height:1px; color:#999999}

form{display:inline}


li {
	padding-bottom: 5px;
}

ul {
	list-style-image: url("/static/img/puce.png");
	margin-left: 10px;
	padding-left: 10px;
}

fieldset {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	padding: 10px;
}

fieldset legend {
	font-size: 110%;
}

.main {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 77%;
}

td.title {
	-moz-border-radius: 5px;
	padding: 5px;
	background: #eeeeee;
}

.main table {
	width: 100%;
}

#logout, #logon, #action {
	float: right;
	width: 170px;
}

#logout input, #logon input, #action input {
	margin-top: 5px;
	width: 100%;
}

#logo {
	margin-right: 2em;
	margin-bottom: 1em;
}


fieldset.logon legend, fieldset.logout legend {
	background-repeat: no-repeat;
	padding-left: 17px;
	padding-bottom: 5px;
}

fieldset.logon {
	padding: 10px;
	padding-top: 0px;
}

fieldset.logon legend {
	background-image: url('/static/img/connect_established.png');
}

fieldset.logout legend {
	background-image: url('/static/img/connect_no.png');
}

fieldset.logon legend img, fieldset.logout legend img {
	display: none;
}

#action div {
	padding: 5px;
}

.error {
	font-style: oblique;
}

#error {
	padding: 5em;
	text-align: center;
	font-style: oblique;
	color: red;
	font-size: 120%;
}


#splash p {
	margin-top: 2em;
	font-style: oblique;
	color: #333333;
	text-align: justify;
	margin-left: 16em;
	margin-right: 19em;
}

input {
	border-bottom: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	padding: 2px;
	-moz-border-radius: 5px;
}


td.input {
	text-align: left;
	width: 50%;
}

.textinput {
	border: solid 1px #cccccc;
	width: 100%;
	padding: 2px;
}


textarea {
	border-bottom: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	padding: 2px;
	-moz-border-radius: 5px;
}

input:hover{
	background: #ffffff;
}

.menuentry3 {
	width: 100%;
	padding: 5px;
        background: #eeeeee;
	-moz-border-radius: 0px;
}

.menuentry2 {
	width: 100%;
	font-size: 110%;
        background: #dddddd;
	padding: 5px;
	-moz-border-radius: 0px;
}

.menuentry1 {
	width: 100%;
	padding: 5px;
	font-size: 120%;
	font-style: italic;	
	-moz-border-radius: 0px;
}

#page, #custom {
	width: 950px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}


div.fileinputs {
        position: relative;
        height: 30px;
        width: 300px;
}

input.file.hidden {
        position: relative;
        text-align: right;
        -moz-opacity:0 ;
        filter:alpha(opacity: 0);
        opacity: 0;
        z-index: 2;
}

div.fakefile {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 350px;
        padding: 0;
        margin: 0;
        z-index: 1;
        line-height: 90%;
}

div.fakefile input {
        margin-left: 0;
}


table {
       position: relative;
       padding-top: 0px;
       padding-bottom: 0px;
       width: 75%;
}

th {
	-moz-border-radius: 5px;
	font-style: oblique;
	font-weight: normal;
	text-align: left;
	background-color: #dddddd;
	padding: 5px;		
}

.submit {
	padding-top: 10px;
	text-align: right;
}

.menu { 
        width: 1px; vertical-align: top;
}

#menu {
	width: 140px;
}

#logo {
	float: left;
}

#licence {
	display: none;
	margin-right: 1em; text-align: right;
}

#header {
	border-top: 1px solid #bbbbbb;
}

#footer {
	margin: 0;
	clear: both;
	margin-top: 1em;
	height: 2.5em;
	background: #eb171d;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #777777;
}

#copyright {
	padding-right: 1em;
	text-align: right;
	padding-top: 1em;
	color: #333333;
	margin-top: 1em;
	border-top: 1px solid #cccccc;
	padding-bottom: 1em;
}

#custom {
	text-align: right;
	height: 3em;	
	background: #eb171d;
	border-bottom: 1px solid #777777;
}

#custom img {
	margin-top: 2px;
	margin-right: 5px;
}

#siteNav {
	display: none;
}

.help {
	color: red;
}
