@import url('common.css');

body {
	# margin:10px 10px 0px 10px;
	padding:0;
	margin: 0;
}


body,th,td,p,div,span,a,input,select,textarea,ul,ol,dl,h1,h2,h3,h4,h5,h6,li,big,small,blockquote{font-family:verdana,arial,helvetica,sans-serif}
body,th,td,p,div,span,a,ul,ol,dl,li,select,input,textarea,blockquote{font-size:9px}
body,th,td,p{color:#000}
code,kbd,tt,pre,code a,kbd a,tt a,pre a,code span,kbd span,tt span,pre span{font-family:courier,"courier new";font-size:12px}
code,kbd,tt,pre,code span,kbd span,tt span,pre span{color:#000}


h1 {font-size: 155%;  font-weight: normal; padding: 0px; margin: 0px; margin-bottom: 15px; font-family:"Trebuchet MS",verdana,arial,helvetica,sans-serif}
h2 {font-size: 130%;  font-weight: normal; padding-bottom: 10px; text-decoration : underline}
h3 {font-size: 100%;}

img{border: 0px}
img {vertical-align:middle;}

a{text-decoration:none}
a:visited{color:#000}
a:link,a.named:visited {color:#000}
a {cursor: pointer;}
a:hover {text-decoration:underline}

hr {height:1px; color:#999999}

form{display:inline}

ul {
	list-style-image: url("/static/img/puce.png");
	margin: 0px;
	padding: 0px;
	padding-left: 15px;
}

fieldset {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	padding: 5px;
}

fieldset legend {

}

select {
	width: 17em;
}

.main {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 80%;
}

td.title {
	-moz-border-radius: 5px;
	padding: 5px;
	background: #eeeeee;
}

.main table {
	width: 100%;
}

#logout, #logon, #action {
	float: right;
	width: 115px;
}

#logout input, #logon input, #action input {
	margin-top: 5px;
	width: 100%;
}


#logo {
	margin-right: 2em;
	margin-bottom: 1em;
}


fieldset.logon legend, fieldset.logout legend {
	background-repeat: no-repeat;
	padding-left: 17px;
	padding-bottom: 5px;
}

fieldset.logon {
	padding: 10px;
	padding-top: 0px;
}

fieldset.logon legend {
	background-image: url('/static/img/connect_established.png');
}

fieldset.logout legend {
	background-image: url('/static/img/connect_no.png');
}

fieldset.logon legend img, fieldset.logout legend img {
	display: none;
}

#action div {
	padding: 5px;
}

.error {
	font-style: oblique;
}

#error {
	padding: 5em;
	text-align: center;
	font-style: oblique;
	color: red;
	font-size: 120%;
}


#splash p {
	margin-top: 2em;
	font-style: oblique;
	color: #333333;
	text-align: justify;
	margin-left: 2em;
	margin-right: 15em;
}

input {
	border-bottom: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	padding: 2px;
	-moz-border-radius: 5px;
}


td.input {
	text-align: left;
	width: 50%;
}

.textinput {
	border: solid 1px #cccccc;
	width: 100%;
	padding: 2px;
}


textarea {
	margin-top: 10px;
}

input:hover{
	background: #ffffff;
}

.menuentry3 {
	width: 100%;
	padding: 5px;
        background: #eeeeee;
	-moz-border-radius: 0px;
}

.menuentry2 {
	width: 100%;
	font-size: 110%;
        background: #dddddd;
	padding: 5px;
	-moz-border-radius: 0px;
}

.menuentry1 {
	width: 100%;
	padding: 5px;
	font-size: 120%;
	font-style: italic;	
	-moz-border-radius: 0px;
}

#page, #custom {
	width: 600px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}


div.fileinputs {
        position: relative;
        height: 30px;
        width: 300px;
}

input.file.hidden {
        position: relative;
        text-align: right;
        -moz-opacity:0 ;
        filter:alpha(opacity: 0);
        opacity: 0;
        z-index: 2;
}

div.fakefile {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 350px;
        padding: 0;
        margin: 0;
        z-index: 1;
        line-height: 90%;
}

div.fakefile input {
        margin-left: 0;
}


table {
       position: relative;
       padding-top: 0px;
       padding-bottom: 20px;
       width: 75%;
}

th {
	-moz-border-radius: 5px;
	font-style: oblique;
	font-weight: normal;
	text-align: left;
	background: #dddddd;
	background-repeat: repeat-x;
	padding: 5px;		
}

.submit {
	padding-top: 10px;
	text-align: right;
}

.menu { 
        width: 1px; vertical-align: top;
}

#menu {
	display: none;
}

#logo {
	float: left;
}

#licence {
	display: none;
	margin-right: 1em; text-align: right;
}

#header {
	border-top: 1px solid #bbbbbb;
}

#footer {
	margin: 0;
	clear: both;
	margin-top: 1em;
	height: 2.5em;
	background-image: url('/static/img/brushed.jpeg');
	background-repeat: repeat-x;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #777777;
}

#copyright {
	padding-right: 1em;
	text-align: right;
	padding-top: 1em;
	color: #333333;
	margin-top: 1em;
	border-top: 1px solid #cccccc;
	padding-bottom: 1em;
}

#custom {
	text-align: right;
	height: 3em;	
	background-image: url('/static/img/brushed.jpeg');
	background-repeat: repeat-x;
	border-bottom: 1px solid #777777;
}

#custom img {
	margin-top: 2px;
	margin-right: 5px;
}

#siteNav { width: 95px }
#siteNav li { display: inline; /* for IE5 and IE6 */ }
#siteNav ul { margin: 0px; padding: 0px; width: auto; margin: 0px; padding: 0px; }
#siteNav ul a { background-color: #DDDDDD; width: auto; display: block; line-height: 20px; padding-left: 7px; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #BBBBBB; cursor: pointer; text-decoration: none; color: #000000; }

#siteNav ul a:hover { background-color: #CCCCCC; }		
#siteNav ul ul a, #siteNav ul ul a:hover, #siteNav ul ul strong { background-color: #F7F7F7; width: auto; border: none; line-height: 18px; }		
#siteNav ul ul strong { padding-left: 13px; padding-top: 3px; font-weight: normal; color: #67676B; display: block; }	
#siteNav ul ul a { font-size: 105%; color: #2C3C6A;}		
#siteNav ul ul ul a { font-size: 110%; width: 137px; padding-left: 23px; color: #2C3C6A; background-image: url(/static/img/menu-arrow.gif); background-repeat: no-repeat; }
#siteNav ul ul ul a, #siteNav ul ul ul a:hover { width: 137px; }

#siteNav ul ul a:hover, #siteNav a:hover.subTwo, #siteNav a.subOne:hover { color: #2571C2; }	
#siteNav ul ul a.last { padding-bottom: 5px; }	


.help {
	margin: 2em;
	margin-right: 250px;
	padding: 0.6em;
	padding-left: 3em;
	-moz-border-radius: 5px;
	background: #e6e7ba;
}

.help a {
	color: #000080;
}
