{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
	<img src="{{ STATIC_URL }}img/icon-user-keys.png"> {% trans "Certificates List" %}
{% endblock %}

{% block content %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
	  <tr>
	    <th>{% trans "Nom" %}</th>
	    <th>{% trans "Edit" %}</th>
	    <th>{% trans "Delete" %}</th>
            <th>{% trans "Sign" %}</th>
	    <th>{% trans "Revoked" %}</th>
	    <th>{% trans "Profil" %}</th>
	  </tr>
        </thead>
{% for object in object_list %}
        <tbody>
	  <tr>
            <td>{{ object.cn }}</td>
            <td>
              <a href="/pki/cert/{{ object.id }}/"><img src="{{ STATIC_URL }}img/edit.png" title="Edit certificate">
            </td>
            <td>
              <a href="/pki/cert/{{ object.id }}/del/"><img src="{{ STATIC_URL }}img/editdelete.png" title="Delete certificate">
            </td>
            {% if not object.pkey %}
              <td>
                <a href="/pki/cert/{{ object.id }}/sign/"><img src="{{ STATIC_URL }}img/icon-security-badge.png" title="Sign certificate">
              </td>
            {% else %}
              <td>
              </td>
            {% endif %}
            {% if object.CRLReason %}
              <td>
                <img src="{{ STATIC_URL }}img/button_cancel.png" title="Certificate revoked">
              </td>
            {% else %}
              <td>
              </td>
            {% endif %}
              <td>
                <a href="/pki/profile/{{ object.profile.id }}/">{{ object.profile.name }}
              </td>
          </tr>
{% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}


{% block action %}
<h1 class="page-header"><img src='{{ STATIC_URL }}img/goto.png'>{% trans "Action" %}</h1>
<div class="table-responsive">
<table class="table table-striped">
  <div class="list-group">
    <a href="/pki/cert/new/"  class="list-group-item">{% trans "Add Certificate" %}</a>
  </div>
</table>
</div>
{% endblock %}
