{% extends "simplebase.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
        <img src="{% static "img/bullet_red.png" %}">
          {% trans "REST API Configuration" %}
{% endblock %}



{% block content %}
<ul>
<li>Bellow you have to fill the form to initialize and create the REST API</li>
<li>This REST API will be associated to the previous profile and will be use to communicate with PacketFence</li>
</ul>
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
{% bootstrap_form form %}
        
    {% endfor %}
{% else %}
{% bootstrap_form wizard.form %}

{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" value="{% trans "submit" %}"/>
</form>
{% endblock %}

